<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>net.grocerypricebook.servlet.GreetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopListServlet</servlet-name>
        <servlet-class>net.grocerypricebook.servlet.ShopListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoriesDispatcher</servlet-name>
        <servlet-class>net.grocerypricebook.servlet.EditCategoriesDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>net.grocerypricebook.servlet.EditCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/GreetingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopListServlet</servlet-name>
        <url-pattern>/ShopListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoriesDispatcher</servlet-name>
        <url-pattern>/EditCategoriesDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/EditCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
